name: JPipe Runner - Poetry demonstration

concurrency:
  group: runner-${{ github.event_name }}-${{ github.ref }}
  cancel-in-progress: true

on:
  push:
    branches:
      - main
  pull_request:

jobs:

  jpipe-runner:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.13"

      - name: Set up Poetry
        uses: abatilo/actions-poetry@v3
        with:
          poetry-version: "latest"

      - name: Create/Set up Poetry environment
        run: |
          cd examples
          poetry init -n
          poetry config virtualenvs.in-project true
          poetry add rich

      - name: Justify Notebook Quality
        uses: ace-design/jpipe-runner@main
        with:
          jd_file: "models/02_quality_full.jd"
          python_path: "poetry run python"
          working_directory: "./examples"
          variable: |
            notebook:notebook.ipynb
          library: |
            libraries/notebook.py
