name: Test jPipe Runner

concurrency:
  group: runner-${{ github.event_name }}-${{ github.ref }}
  cancel-in-progress: true

on:
  push:
    branches:
      - main

jobs:
  jpipe-runner:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Justify Slides
        uses: xjasonlyu/jpipe-runner@main
        with:
          jd_file: "examples/models/01_slides.jd"
          variable: |
            signature:jason
            available:ready
          library: |
            examples/libraries/*.py

      - name: Justify Notebook Quality
        uses: xjasonlyu/jpipe-runner@main
        with:
          jd_file: "examples/models/02_quality_full.jd"
          variable: |
            notebook:notebook.ipynb
          library: |
            examples/libraries/*.py
